footer.footer
    .footer-top
        .container
            .footer-top__wrap
                .footer-top__item
                    .footer-top__logo
                        img(src='assets/img/footer/footer-logo.svg' alt='')
                    .footer-top__text
                        | Createx SEO Agency is&nbsp;a&nbsp;full-service digital marketing agency. We&nbsp;help businesses make more money through
                        | a&nbsp;wealth of&nbsp;performance data and market research. We&nbsp;create science-based SEO strategies to&nbsp;empower our
                        | clients.
                    ul.footer-top__social
                        li
                            a(href='#')
                                img(src='assets/img/footer/Facebook.svg' alt='')
                        li
                            a(href='#')
                                img(src='assets/img/footer/Linked-In.svg' alt='')
                        li
                            a(href='#')
                                img(src='assets/img/footer/Twitter.svg' alt='')
                        li
                            a(href='#')
                                img(src='assets/img/footer/Instagram.svg' alt='')
                .footer-top__item
                    h3.footer-top__title Company
                    ul.footer-top__list
                        li
                            a(href='about-us.html') About Us
                        li
                            a(href='case-studies.html') Case Studies
                        li
                            a(href='blog.html') Blog
                        li
                            a(href='careers-at-createx-agency.html') Careers
                        li
                            a(href='contacts.html') Contacts
                .footer-top__item
                    h3.footer-top__title Services
                    // TODO: our-services and search-engine-optimization add id to blocks
                    ul.footer-top__list
                        li
                            a(href='our-services.html#social-media') Social Media
                        li
                            a(href='search-engine-optimization.html#seo') SEO
                        li
                            a(href='our-services.html#research') Research
                        li
                            a(href='our-services.html#content-pr') Content &amp; PR
                        li
                            a(href='our-services.html#payed-traffic') Payed Traffic
                .footer-top__item
                    h3.footer-top__title Contact us
                    ul.footer-top__list
                        li
                            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M5.66634 1.94857C5.11406 1.94857 4.66634 2.39628 4.66634 2.94857V13.0527C4.66634 13.605 5.11406 14.0527 5.66634 14.0527H10.333C10.8853 14.0527 11.333 13.605 11.333 13.0527V2.94857C11.333 2.39628 10.8853 1.94857 10.333 1.94857H10.2774L10.115 2.3382C10.0115 2.58661 9.76879 2.74842 9.49967 2.74842H6.49967C6.23056 2.74842 5.98783 2.58661 5.88431 2.3382L5.72193 1.94857H5.66634ZM3.33301 2.94857C3.33301 1.6599 4.37768 0.615234 5.66634 0.615234H10.333C11.6217 0.615234 12.6663 1.6599 12.6663 2.94857V13.0527C12.6663 14.3414 11.6217 15.3861 10.333 15.3861H5.66634C4.37768 15.3861 3.33301 14.3414 3.33301 13.0527V2.94857Z')
                            a(href='tel:4055550128' target='_blank') (405) 555-0128
                        li
                            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M15.1663 11.9993V4.66602C15.1663 3.56145 14.2709 2.66602 13.1663 2.66602L2.83301 2.66603C1.72844 2.66603 0.833008 3.56146 0.833008 4.66603V11.9993C0.833008 13.1039 1.72844 13.9993 2.83301 13.9993L13.1663 13.9993C14.2709 13.9993 15.1663 13.1039 15.1663 11.9993ZM13.833 6.17232V11.9993C13.833 12.3675 13.5345 12.666 13.1663 12.666L2.83301 12.666C2.46482 12.666 2.16634 12.3675 2.16634 11.9993L2.16634 6.17223L6.87512 9.3742C7.55384 9.83573 8.44564 9.83573 9.12436 9.3742L13.833 6.17232ZM13.8254 4.56509C13.7768 4.24479 13.5002 3.99935 13.1663 3.99935L2.83301 3.99936C2.49916 3.99936 2.22262 4.24476 2.17394 4.56501L7.62487 8.27164C7.85111 8.42548 8.14837 8.42548 8.37461 8.27164L13.8254 4.56509Z')
                            a(href='mailto:hello@createx.com' target='_blank') hello@createx.com
                .footer-top__item
                    h3.footer-top__title Sign up to our newsletter
                    .footer-top__form
                        input(type='text' placeholder='Email address')
                        img(src='assets/img/footer/footer-arrow.svg' alt='')
                    .footer-top__privacy
                        | *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.
    .footer-bottom
        .container
            .footer-bottom__wrap
                .footer-bottom__logos
                    .footer-bottom__logo
                        img(src='assets/img/footer/footer-1.jpg' alt='')
                    .footer-bottom__logo
                        img(src='assets/img/footer/footer-2.jpg' alt='')
                    .footer-bottom__logo
                        img(src='assets/img/footer/footer-3.jpg' alt='')
                    .footer-bottom__logo
                        img(src='assets/img/footer/footer-4.jpg' alt='')
                .footer-bottom__navigation
                    span Go to top
                    .footer-bottom__top
                        svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M4.29289 15.7071C3.90237 15.3166 3.90237 14.6834 4.29289 14.2929L11.2929 7.29289C11.6834 6.90237 12.3166 6.90237 12.7071 7.29289L19.7071 14.2929C20.0976 14.6834 20.0976 15.3166 19.7071 15.7071C19.3166 16.0976 18.6834 16.0976 18.2929 15.7071L12 9.41421L5.70711 15.7071C5.31658 16.0976 4.68342 16.0976 4.29289 15.7071Z' fill='white')
    footer.footer-copyright
        .container
            .footer-copyright__info
                span &copy; All rights reserved.Made with
                svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 16 16' fill='none')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M7.99925 13.2715C4.93321 11.5252 3.22318 9.78955 2.39626 8.28361C1.54992 6.74228 1.62377 5.4441 2.0934 4.52273C3.05872 2.62892 5.80378 2.02333 7.4763 4.13865L7.99921 4.80001L8.52217 4.13868C10.195 2.02327 12.9402 2.62896 13.9055 4.52273C14.3751 5.44408 14.4489 6.74226 13.6025 8.28359C12.7756 9.78954 11.0654 11.5252 7.99925 13.2715ZM7.99928 2.73726C5.64647 0.501518 2.17555 1.42555 0.905488 3.91723C0.20846 5.2847 0.198939 7.05212 1.22753 8.92536C2.247 10.782 4.2796 12.7417 7.67675 14.6194L7.99924 14.7976L8.32173 14.6194C11.719 12.7417 13.7517 10.782 14.7712 8.92537C15.7999 7.05214 15.7904 5.28472 15.0934 3.91723C13.8233 1.4255 10.3523 0.501552 7.99928 2.73726Z' fill='#7772F1')
                span by Createx Studio
