.top-features
    div(class="top-features__item")
        div(class="top-features__icon")
            img(src="assets/img/agency/agency-1.jpg", alt="")
        div(class="top-features__label") Top SEO Companies 2020 by Clutch
    div(class="top-features__item")
        div(class="top-features__icon")
            img(src="assets/img/agency/agency-2.jpg", alt="")
        div(class="top-features__label") Top Digital Marketing Agency 2019 by UpCity
    div(class="top-features__item")
        div(class="top-features__icon")
            img(src="assets/img/agency/agency-3.jpg", alt="")
        div(class="top-features__label") Official Member 2020 by Forbes Agency Council
    div(class="top-features__item")
        div(class="top-features__icon")
            img(src="assets/img/agency/agency-4.jpg", alt="")
        div(class="top-features__label") Top SEO Companies 2020 by Top Developers