.main-header {
    position: absolute;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
}

.main-header__wrap {
    display: flex;
    align-items: center;
}

.main-header__logo {
    margin-right: 60px;
}

.main-header__menu {
    margin-right: auto;
}
