.get-free {
  margin-bottom: 12.00rem;
  padding: 5.00rem 6.00rem 4.70rem;
  border-radius: 0.40rem;
  background: var(--accent);
  box-shadow: 0.00rem 0.40rem 0.40rem -0.40rem rgba(30, 33, 44, 0.03), 0.00rem 1.20rem 10.00rem -0.60rem rgba(154, 156, 165, 0.04), 0.00rem 30.00rem 20.40rem -10.00rem rgba(154, 156, 165, 0.05), 0.00rem 80.00rem 80.00rem -20.00rem rgba(154, 156, 165, 0.08);
  @media screen and (max-width: 576px) {
    margin-bottom: 6.4rem;
    padding: 3.00rem 3rem 2.00rem;
  }
  &__title {
    margin-bottom: 3.60rem;
    font-size: 3.20rem;
    font-weight: 900;
    color: white;
    text-align: center;
  }
}