.tree {
  margin-bottom: 18.00rem;
  &__title {
    margin-bottom: 6.40rem;
    text-align: center;
  }
  &__body {
    position: relative;
    max-width: 815px;
    margin: 0 auto;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background: rgba(#9A9CA5, 0.5);
    }
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 8.80rem;
    @media screen and (max-width: 576px) {
      gap: 4.00rem;
    }
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      text-align: right;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1.60rem;
      height: 1.60rem;
      background: white;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0.40rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0.80rem;
      height: 0.80rem;
      border-radius: 50%;
      background: var(--accent);
    }
  }
  &__column {
    width: 50%;
  }
  &__label {
    margin-bottom: 0.50rem;
    font-size: 1.20rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__subtitle {
    margin-bottom: 1.10rem;
    font-size: 2.00rem;
    font-weight: 700;
    color: var(--text-dark);
  }
}