.accordion__item {
  position: relative;
  margin-bottom: 30px;

  &.active {

    .accordion__title {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}

.accordion__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 43px;
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-dark);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../img/ask/plus.svg");
    transition: all .4s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("../img/ask/minus.svg");
    transition: all .4s;
    opacity: 0;
  }

}

.accordion__text {
  padding-left: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;


  p {
    margin-bottom: 24px;
  }
}
.accordion__subtitle {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}
.accordion__list {
  margin-bottom: 24px;
  li {
    position: relative;
    padding-left: 20px;
    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: var(--accent);
    }
  }
}

.accordion__item:not(:first-of-type) .accordion__text {
  display: none;
}