.agency {
  margin-bottom: 17.3rem;
  @media screen and (max-width: 992px) {
    margin-bottom: 8rem;
  }
}

.agency__wrap {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 992px) {
    display: block;
  }
}

.agency__text {
  // width: 51%;
  flex: 1;
  flex: 0 0 50%;
  color: var(--text-dark);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5;
  @media screen and (max-width: 992px) {
    margin-bottom: 6.4rem;
  }
}

.agency__items {
  margin: 0 -2rem;
  padding-left: 7rem;
  width: 49%;
  @media screen and (max-width: 992px) {
    margin: 0;
    padding-left: 0;
    width: 480px;
  }
  @media screen and (max-width: 576px) {
    width: auto;
  }
  
}
