.ask {
  padding-bottom: 107px;
}
.ask__wrap {
  display: flex;
  justify-content: space-between;
}
.ask__img {
  padding-top: 54px;
}
.ask__content {
  flex: 0 0 600px;
}
.ask__title {
  margin-bottom: 65px;
  font-size: 46px;
  font-weight: 900;
  color: var(--text-dark);
  letter-spacing: 0.5px;
}
