.benefits {
	margin-bottom: 15.9rem;
}
.benefits__title {
	margin-bottom: 5.8rem;
	text-align: center;
}
.benefits__wrap {
	display: flex;
	justify-content: space-between;
  @media screen and (max-width: 576px) {
    display: block;
  }
}
.benefits__img {
	padding-top: 12.9rem;
	@media screen and (max-width: 1200px) {
		display: none;
	}
}
.benefits__item {
	padding: 4rem 4.8rem;
	margin-bottom: 2.4rem;
	max-width: 390px;
	text-align: center;
	border-radius: 0.4rem;
	border: 1px solid #e5e8ed;
  @media screen and (max-width: 576px) {
    max-width: initial;
  }
}
.benefits__item:hover {
	box-shadow: 0rem 0.4rem 0.4rem -0.4rem rgba(30, 33, 44, 0.03), 0rem 1.2rem 10rem -0.6rem rgba(154, 156, 165, 0.04), 0rem 30rem 2.4rem -10rem rgba(154, 156, 165, 0.05), 0rem 80rem 80rem -20rem rgba(154, 156, 165, 0.08);
}
.benefits__logo {
	margin-bottom: 1.6rem;
}
.benefits__subtitle {
	margin-bottom: 0.9rem;
	font-size: 2rem;
	font-weight: 700;
	color: var(--text-dark);
}
.benefits__text {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5;
}
