.createx {
  margin-bottom: 175px;
}
.createx__wrap {
  display: flex;
  justify-content: space-between;
}
.createx__content {
  padding-right: 135px;
  padding-top: 83px;
}
.createx__title {
  margin-bottom: 40px;
}
.createx__text {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 1.66;
}
.createx__img {
  position: relative;
  flex: 0 0 705px;
}
