.freeseo {
	margin-bottom: 18.3rem;
  padding: 8rem 2rem;
	background: var(--text-dark);
  @media screen and (max-width: 992px) {
    margin-bottom: 8rem;
  }
}
.freeseo__wrap {
	display: flex;
	justify-content: space-between;
	gap: 3.1rem;
  @media screen and (max-width: 992px) {
    display: block;
  }
}
.freeseo__img {
	flex: 1;
  @media screen and (max-width: 992px) {
    margin-bottom: 7rem;
  }
}
.freeseo__form {
	flex: 1;
}
.freeseo__title {
	padding-top: 0.4rem;
	margin-bottom: 4.5rem;
	font-size: 4.6rem;
	font-weight: 900;
}
