.studies {
	margin-bottom: 10rem;
	background: #f4f5f6;
}

.studies__title {
	padding-top: 8.3rem;
	margin-bottom: 1.3rem;
}

.studies__header {
	position: relative;
	bottom: 4.5rem;
	left: 2.3rem;
	display: flex;
	justify-content: flex-end;
	padding-right: 1rem;
	@media screen and (max-width: 992px) {
		bottom: 0rem;
		left: 0rem;
		margin-bottom: 2rem;
	}
}

.slick-list {
	margin: 0 -1.5rem;
}

.studies .slick-slide {
	margin: 0 1.5rem;
	// width: 39rem;
}

.studies__arrow {
	position: relative;
	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;
	cursor: pointer;
}

.studies__arrow svg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1.8rem;
	height: 1.2rem;
	margin-top: -0.6rem;
	margin-left: -0.9rem;
	fill: #424551;
}

.studies__arrow:hover {
	background: var(--accent);
}

.studies__arrow:hover svg {
	fill: white;
}

.studies__wrap {
	margin-bottom: 1.4rem;
	display: flex;
	gap: 3rem;
	@media screen and (max-width: 768px) {
		margin-bottom: 0;
	}
}

.studies__wrap .slick-list {
	padding: 0 0 5rem !important;
	@media screen and (max-width: 768px) {
		padding-bottom: 3rem !important;
	}
}

.studies__item {
	position: relative;
	padding: 4.3rem 4rem 4rem;
	// height: 39rem;
	border-radius: 0.4rem;
	border: 1px solid #e5e8ed;
	background: white;
	transition: all 0.3s;
	@media screen and (max-width: 992px) {
		padding: 20px;
	}
}

.studies__item:hover {
	color: white;
	box-shadow: 0px 8px 30px -4px rgba(30, 33, 44, 0.5);
	&::after {
		opacity: 1;
	}
}

.studies__item:hover .item-study__number {
	color: white;
}

.studies__item:hover .studies__label {
	color: white;
}

.studies__item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../img/studies/background-hover.jpg") no-repeat center/cover;
	opacity: 0;
	transition: all 0.4s;
	z-index: 2;
}

.studies__content {
	position: relative;
	z-index: 3;
}

.studies__logo {
	margin-bottom: 1rem;
}

.studies__label {
	position: relative;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-dark);
}

.studies__label::after {
	position: absolute;
	content: "";
	bottom: 0;
	right: -4rem;
	width: 39rem;
	height: 0.1rem;
	background: linear-gradient(315deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #dadbdd 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}

.studies__text {
	margin-bottom: 7.7rem;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6;
}

.item-study__wrap {
	display: flex;
	gap: 3.2rem;
}

.item-study__block {
	display: flex;
}

.item-study__range {
	margin-right: 1.2rem;
}

.item-study__number {
	margin-bottom: 0.4rem;
	font-size: 2rem;
	font-weight: 700;
	color: var(--text-dark);
}

.item-study__description {
	font-size: 1.2rem;
	font-weight: 400;
}

.studies__footer {
	padding-bottom: 8.1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	@media screen and (max-width: 768px) {
		display: block;
	}
}

.studies__info {
	font-size: 2.8rem;
	font-weight: 700;
	color: var(--text-dark);
	@media screen and (max-width: 768px) {
		display: block;
		margin-bottom: 3rem;
	}
}
