.contact-form {
  margin-bottom: 14.80rem;
  &__title {
    margin-bottom: 4.20rem;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
      display: block;
    }
  }
  &__content {
    width: 50%;
    @media screen and (max-width: 1200px) {
      margin-bottom: 8rem;
      width: 100%;
    }
  }
  &__img {
    position: relative;
    top: 4.60rem;
    left: 18.60rem;
    width: 50%;
    @media screen and (max-width: 1600px) {
      top: 0;
      left: 0;
      padding-left: 6.4rem;
    }
    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}