.page-intro
    img.page-intro__img(src="assets/img/about-us/about-us-intro/about-us-bg.jpg" alt="")
    .container
        .page-intro__content
            .page-intro__breadcrumbs
                ul.breadcrumbs 
                    li
                        a(href="/") 
                            include ../icons/icon-home
                    li
                        span About Us
            h1.page-intro__title About Us
            .page-intro__text Our agency has been successfully operating in digital marketing since 2012. We are proud to offer you quality and exemplary service. We help our clients get better results with our creative and data-driven approach to online advertising. 
            include ../globals/intro-list