section.ask
    .ask__wrap
        .ask__content
            h2.ask__title Freequently Ask Questions
            .accordion
                .accordion__item.active
                    .accordion__title Aliquet lectus urna viverra in odio?
                    .accordion__text
                        | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                        | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                .accordion__item
                    .accordion__title Orci commodo, viverra orci mollis ut euismod?
                    .accordion__text
                        | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                        | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                .accordion__item
                    .accordion__title Sagittis vitae facilisi rutrum amet mauris quisque vel convallis?
                    .accordion__text
                        | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                        | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                .accordion__item
                    .accordion__title In id dolor quis nunc, urna hendrerit pharetra?
                    .accordion__text
                        | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                        | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                .accordion__item
                    .accordion__title Orci commodo, viverra orci mollis ut euismod?
                    .accordion__text
                        | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                        | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                .accordion__item
                    .accordion__title Sagittis vitae facilisi rutrum amet mauris quisque vel convallis?
                    .accordion__text
                        | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                        | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
                .accordion__item
                    .accordion__title In id dolor quis nunc, urna hendrerit pharetra?
                    .accordion__text
                        | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                        | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
        .ask__img
            img(src='assets/img/ask/ask.svg' alt='')
