.awards 
    .awards__wrap
        .awards__img
            include ../icons/image-awards
        .awards__content
            h2.awards__title.title We are proud of our awards
            include ../globals/top-features 