.career
    .career__wrap
        .career__img
            include ../icons/img-career
        .career__content
            h2.career__title.title Careers at Createx Agency
            .career__text Ready to join us on our mission to deliver the best sales development services to businesses around the globe? We’re hiring!
            a.btn(href="#") 
                span See careers
                include ../icons/icon-link-light