.clients    
    h2.clients__title.title 240+ satisfied clients
    .clients__wrap
        .clients__item
            img(src="assets/img/logos/client-logo-1.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-2.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-3.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-4.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-5.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-6.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-7.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-8.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-9.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-10.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-11.png", alt="")
        .clients__item
            img(src="assets/img/logos/client-logo-12.png", alt="")