.core
    .core__wrap
        h2.core__title.title The core values we stand for
        .core__items
            .core__item
                .core__img
                    include ../icons/core-1
                h3.core__subtitle Respect
                .core__text.text Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra scelerisque consequat.
            .core__item
                .core__img
                    include ../icons/core-2
                h3.core__subtitle Transparency
                .core__text.text Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. 
            .core__item
                .core__img
                    include ../icons/core-3
                h3.core__subtitle Commitment
                .core__text.text Fusce parturient diam magna ullamcorper morbi semper massa ac facilisisViverra scelerisque consequat.
            .core__item
                .core__img
                    include ../icons/core-4
                h3.core__subtitle Cooperation
                .core__text.text Porttitor diam consectetur aliquam vitae urna, pharetra, at ipsum. Pretium placerat turpis sed viverra consequat.