.team
    h2.team__title.title Meet our team
    .team__wrap
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-1.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Courtney Alexander
                .team__text.text.text Founder and CEO
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-2.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Johnny Lane
                .team__text.text Director of Client Services
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-3.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Diane Mccoy
                .team__text.text Lead Digital PR Strategist
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-4.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Judith Warren
                .team__text.text Cheaf Marketing Officer
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-5.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Floyd Simmmons
                .team__text.text Account Director
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-6.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Shawn Edwards
                .team__text.text Director of PPC
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-7.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Jane Cooper
                .team__text.text Digital Marketing Manager
        .team__item
            .team__img
                img(src="assets/img/about-us/team/team-8.jpg", alt="")
                ul.team__social
                    li 
                        a(href="#")
                            include ../icons/icon-fb
                    li 
                        a(href="#")
                            include ../icons/icon-tw
                    li 
                        a(href="#")
                            include ../icons/icon-ln
            .team__content
                h3.team__subtitle Soham Alexander
                .team__text.text Director of SEO