extends template

block css
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Main

block content
    .page-about-us
        include ../includes/mixins
        include ../blocks/main-header
        include ../blocks/about-us/about-us-intro
        .container
            include ../blocks/home/rating
            include ../blocks/about-us/video
            include ../blocks/about-us/core
            include ../blocks/about-us/seo-agency
        //    include ../blocks/about-us/awards
        //    include ../blocks/search-engine-optimization/get-free
        //    include ../blocks/about-us/clients
        //    include ../blocks/about-us/team
        //    include ../blocks/about-us/ask-about
        //    include ../blocks/about-us/career
        //    include ../blocks/home/news

    include ../blocks/globals/footer

block scripts
    script(src="assets/libs/code.jquery.com_jquery-3.7.0.min.js")
    script(src="assets/libs/slick/slick/slick.min.js")
    script(src="assets/jquery/custom-jquery.js")
    script(src="assets/js/dist/webpack.js")
