extends template

block css
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Main

block content
    .page-intro-search-engine-optimization
        include ../includes/mixins
        include ../blocks/main-header
        include ../blocks/search-engine-optimization/intro
        .container
        //    include ../blocks/home/logos
        //    include ../blocks/search-engine-optimization/ensure
        //    include ../blocks/search-engine-optimization/strategy
        //    include ../blocks/search-engine-optimization/get-free
        //    include ../blocks/search-engine-optimization/tree
        //    include ../blocks/home/plans
        //include ../blocks/home/studies
        //.container
        //    include ../blocks/home/tabs

    include ../blocks/globals/footer

block scripts
    script(src="assets/libs/code.jquery.com_jquery-3.7.0.min.js")
    script(src="assets/libs/slick/slick/slick.min.js")
    script(src="assets/jquery/custom-jquery.js")
    script(src="assets/js/dist/webpack.js")
