extends template

block css
    link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
    title Main

block content
    .single-blog
        include ../includes/mixins
        include ../blocks/main-header
        include ../blocks/single-blog/single-blog-intro
        .container
            .single-blog__wrap 
                .single-blog__main
                    include ../blocks/single-blog/published
                    include ../blocks/single-blog/blog-content
                    include ../blocks/single-blog/tags-share
                    include ../blocks/single-blog/post-nav
                .single-blog__aside
                    include ../blocks/single-blog/search
                    include ../blocks/single-blog/author
                    include ../blocks/blog/trending
                    include ../blocks/blog/tags


    include ../blocks/globals/footer

block scripts
    script(src="assets/libs/code.jquery.com_jquery-3.7.0.min.js")
    script(src="assets/libs/slick/slick/slick.min.js")
    script(src="assets/jquery/custom-jquery.js")
    script(src="assets/js/dist/webpack.js")
