.page-contacts {
    .page-intro {
        height: 586px;

        &__breadcrumbs {
            margin-bottom: 46px;
        }

        &__title {
            margin-bottom: 80px;
        }

        &__item {
            width: 25%;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }

    }
}