.page-careers-at-createx-agency {
    .page-intro {
        margin-bottom: 119px;
        height: 619px;

        
        &__breadcrumbs {
            margin-bottom: 50px;
        }

        &__title {
            font-size: 72px;
        }

        &__text {
            margin-bottom: 57px;
            font-size: 20px;
            line-height: 1.5;
            color: var(--text-gray);
        }
    }
    .accordion {
        &__wrap {
            display: flex;
            justify-content: space-between;
        }
        &__content {
            flex: 0 0 767px;
        }
        &__title {
            margin-bottom: 12px;
            font-size: 28px;
        }
    }
    .btn {
        height: 44px;
    }
}