.page-about-us {
  .page-intro {
    margin-bottom: 11.90rem;
    height: 66.10rem;
    &__breadcrumbs {
      margin-bottom: 4.60rem;
    }
    &__text {
      margin-bottom: 12.00rem;
      font-size: 2.00rem;
      line-height: 1.5;
      color: var(--text-gray);
    }
  }
  .rating {
    margin-bottom: 12.10rem;
  }
  .ask__img {
    padding-top: 11.10rem;
  }
}