.page-about-us {
    .page-intro {
        margin-bottom: 119px;
        height: 661px;

        &__breadcrumbs {
            margin-bottom: 46px;
        }

        &__title {
            font-size: 72px;
        }

        &__text {
            margin-bottom: 120px;
            font-size: 20px;
            line-height: 1.5;
            color: var(--text-gray);
        }
    }
    .rating {
        margin-bottom: 121px;
    }
    .ask__img {
        padding-top: 111px;
    }
}