.single-blog {
  .page-intro {
    height: 50.00rem;
    @media screen and (max-width: 576px) {
      padding-bottom: 6.4rem;
      height: auto;
    }
    &__breadcrumbs {
      margin-bottom: 4.20rem;
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 7.80rem;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__main {
    margin-bottom: 18.00rem;
    flex: 1;
  }
  &__aside {
    flex: 0 0 34.00rem;
    @media screen and (max-width: 992px) {
      max-width: 500px;
    }
  }
}