.single-blog {
    .page-intro {
        height: 500px;
        &__breadcrumbs {
            margin-bottom: 42px;
        }
        &__title {
            font-size: 56px;
            line-height: 1.3;
        }
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        gap: 78px;
    }
    &__main {
        margin-bottom: 180px;
        flex: 1;
    }
    &__aside {
        flex: 0 0 340px;
    }
}