section.agency
    div(class="agency__wrap")
        div(class="agency__text")
            | Createx SEO Agency is a full-service digital marketing agency. We help
            | businesses make more money through a wealth of performance data and market research. We create
            | science-based SEO strategies to empower our clients.
        div(class="agency__items")
            div(class="agency__item")
                div(class="agency__icon")
                    img(src="assets/img/agency/agency-1.jpg", alt="")
                div(class="agency__label") Top SEO Companies 2020 by Clutch
            div(class="agency__item")
                div(class="agency__icon")
                    img(src="assets/img/agency/agency-2.jpg", alt="")
                div(class="agency__label") Top Digital Marketing Agency 2019 by UpCity
            div(class="agency__item")
                div(class="agency__icon")
                    img(src="assets/img/agency/agency-3.jpg", alt="")
                div(class="agency__label") Official Member 2020 by Forbes Agency Council
            div(class="agency__item")
                div(class="agency__icon")
                    img(src="assets/img/agency/agency-4.jpg", alt="")
                div(class="agency__label") Top SEO Companies 2020 by Top Developers
