section.agency
    div(class="agency__wrap")
        div(class="agency__text")
            | Createx SEO Agency is a full-service digital marketing agency. We help
            | businesses make more money through a wealth of performance data and market research. We create
            | science-based SEO strategies to empower our clients.
        div(class="agency__items")
            include ../globals/top-features