section.benefits
    h2.benefits__title.title Our benefits
    .benefits__wrap
        .benefits__items-1
            .benefits__item
                .benefits__logo
                    img(src='assets/img/benefits/benefits-logo-1.svg' alt='')
                .benefits__subtitle Social Advertising Experts
                .benefits__text
                    | Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud
                    | aliquip sunt.
            .benefits__item
                .benefits__logo
                    img(src='assets/img/benefits/benefits-logo-2.svg' alt='')
                .benefits__subtitle ROI Focused Campaigns
                .benefits__text
                    | Cursus sit eu viverra suspendisse eu quisque enim est tortor. Mauris ornare
                    | convallis nisi diam imperdiet.
            .benefits__item
                .benefits__logo
                    img(src='assets/img/benefits/benefits-logo-3.svg' alt='')
                .benefits__subtitle Monthly Reporting
                .benefits__text
                    | Aenean urna dictum adipiscing nec, cras quisque. Nunc in odio ultricies ornare
                    | ornare nunc venenatis mauris.
        .benefits__img
            img(src='assets/img/benefits/benefits.svg' alt='')
        .benefits__items-2
            .benefits__item
                .benefits__logo
                    img(src='assets/img/benefits/benefits-logo-4.svg' alt='')
                .benefits__subtitle Quality Customer Service
                .benefits__text
                    | Sed nunc scelerisque ipsum accumsan, proin nunc euismod purus. Dictum tortor,
                    | pellentesque vel integer amet.
            .benefits__item
                .benefits__logo
                    img(src='assets/img/benefits/benefits-logo-5.svg' alt='')
                .benefits__subtitle Complete SEO Transparency
                .benefits__text
                    | Culpa nostrud commodo ea consequat aliquip reprehenderit. Ve niam velit nostrud
                    | aliquip sunt.
            .benefits__item
                .benefits__logo
                    img(src='assets/img/benefits/benefits-logo-6.svg' alt='')
                .benefits__subtitle We&apos;re a True Partner
                .benefits__text
                    | Quis sed malesuada tincidunt amet, vitae mi justo elementum eu. Dui gravida id
                    | elementum dolor sed elementum, risus.
