section.createx
    .createx__wrap
        .createx__img
            img(src='assets/img/createx/createx.jpg' alt='')
        .createx__content
            h2.createx__title.title Createx Agency
            .createx__text
                | Lacus ac&nbsp;mollis vitae viverra. Tincidunt est, feugiat montes, viverra
                | ullamcorper mi&nbsp;dui, nulla pharetra. Sapien urna nullam elit diam mauris orci. Volutpat quam
                | tempus justo, aliquam. Tortor ultrices mattis eget orci eu&nbsp;nisi sed augue odio. Et&nbsp;senectus
                | risus, pharetra, tristique libero. Dolor risus ac&nbsp;quam dictum mattis ultrices laoreet sapien.
                | Feugiat lacus, suscipit eu&nbsp;sociis et&nbsp;quis hendrerit. Cras at&nbsp;ac&nbsp;magna ultricies orci.
            a.btn.btn--small(href='about-us.html') More about us