section.freeseo
    .container
        .freeseo__wrap
            .freeseo__img
                img(src='assets/img/freeseo/freeseo.svg' alt='')
            .freeseo__form
                h2.freeseo__title Get a Free SEO Analysis!
                .form
                    form(action='')
                        .form__wrap
                            .form__group
                                label(for='') Name
                                input(type='text' placeholder='Your name')
                            .form__group
                                label(for='') Email
                                input(type='text' placeholder='Your working email')
                        .form__group
                            label(for='') Your website URL
                            input(type='text' placeholder='http://yoursite.com')
                        .form__footer
                            .form__privacy
                                input#checkbox.form__checkbox(type='checkbox')
                                label(for='checkbox') I agree to receive communications from Createx SEO Agency
                            button.form__submit.btn(disabled='true') Get a free analysis
