section.rating
    .rating__wrap
        .rating__item
            .rating__header
                img(src='assets/img/rating/rating-1.svg' alt='')
                .rating__number 10
            .rating__title Years of experience
        .rating__item
            .rating__header
                img(src='assets/img/rating/rating-2.svg' alt='')
                .rating__number 45
            .rating__title Awards
        .rating__item
            .rating__header
                img(src='assets/img/rating/rating-3.svg' alt='')
                .rating__number 540+
            .rating__title Projects
        .rating__item
            .rating__header
                img(src='assets/img/rating/rating-4.svg' alt='')
                .rating__number 100%
            .rating__title Happy clients
