section.studies
    .container
        h2.studies__title Read our clients&apos; case studies
        .studies__header
            .studies__arrow.studies__arrow--prev
                svg(width='18' height='12' viewbox='0 0 18 12' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M6.20711 11.2071C5.81658 11.5976 5.18342 11.5976 4.79289 11.2071L0.292892 6.70711C-0.0976315 6.31658 -0.0976315 5.68342 0.292892 5.29289L4.79289 0.792893C5.18342 0.402369 5.81658 0.402369 6.20711 0.792893C6.59763 1.18342 6.59763 1.81658 6.20711 2.20711L3.41421 5L17 5C17.5523 5 18 5.44772 18 6C18 6.55228 17.5523 7 17 7L3.41421 7L6.20711 9.79289C6.59763 10.1834 6.59763 10.8166 6.20711 11.2071Z')
            .studies__arrow.studies__arrow--next
                svg(width='18' height='12' viewbox='0 0 18 12' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M11.7929 0.792893C12.1834 0.402369 12.8166 0.402369 13.2071 0.792893L17.7071 5.29289C18.0976 5.68342 18.0976 6.31658 17.7071 6.70711L13.2071 11.2071C12.8166 11.5976 12.1834 11.5976 11.7929 11.2071C11.4024 10.8166 11.4024 10.1834 11.7929 9.79289L14.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H14.5858L11.7929 2.20711C11.4024 1.81658 11.4024 1.18342 11.7929 0.792893Z')
        .studies__wrap
            .studies__item
                .studies__content
                    .studies__logo
                        img(src='assets/img/studies/studies-logo-1.png' alt='')
                    .studies__label Charity organisation
                    .studies__text
                        | Createx SEO Agency helped National Inc. increase their MQL to SQL conversion rate
                        | by 300%.
                    .item-study
                        .item-study__wrap
                            .item-study__block
                                .item-study__range
                                    img(src='assets/img/studies/circle-1.svg' alt='')
                                .item-study__wrapper
                                    .item-study__number 90%
                                    .item-study__description Engagement
                            .item-study__block
                                .item-study__range
                                    img(src='assets/img/studies/circle-2.svg' alt='')
                                .item-study__wrapper
                                    .item-study__number 100%
                                    .item-study__description Deliverability
            .studies__item
                .studies__content
                    .studies__logo
                        img(src='assets/img/studies/studies-logo-2.png' alt='')
                    .studies__label Oil and natural resources
                    .studies__text
                        | With an advanced A/B testing and usability analysis, Createx SEO Agency helps Del
                        | Mar see a 400% increase in conversion rate.
                    .item-study
                        .item-study__wrap
                            .item-study__block
                                .item-study__range
                                    img(src='assets/img/studies/circle-3.svg' alt='')
                                .item-study__wrapper
                                    .item-study__number 200%
                                    .item-study__description Growth in sales
                            .item-study__block
                                //
                                  <div class="item-study__range">
                                  <img src="img/studies/circle-2.svg" alt="">
                                  </div>
                                .item-study__wrapper
                                    .item-study__number 1,400
                                    .item-study__description Target investors
            .studies__item
                .studies__content
                    .studies__logo
                        img(src='assets/img/studies/studies-logo-3.png' alt='')
                    .studies__label Personal care
                    .studies__text
                        | We helped Sunset company break through a noisy industry and better understand
                        | their
                        | buyer&apos;s journey.
                    .item-study
                        .item-study__wrap
                            .item-study__block
                                .item-study__range
                                    img(src='assets/img/studies/circle-1.svg' alt='')
                                .item-study__wrapper
                                    .item-study__number 70%
                                    .item-study__description Open Rate
                            .item-study__block
                                .item-study__range
                                    img(src='assets/img/studies/circle-2.svg' alt='')
                                .item-study__wrapper
                                    .item-study__number 200%
                                    .item-study__description Growth in sales
            .studies__item
                .studies__content
                    .studies__logo
                        img(src='assets/img/studies/studies-logo-2.png' alt='')
                    .studies__label Oil and natural resources
                    .studies__text
                        | With an advanced A/B testing and usability analysis, Createx SEO Agency helps Del
                        | Mar see a 400% increase in conversion rate.
                    .item-study
                        .item-study__wrap
                            .item-study__block
                                .item-study__range
                                    img(src='assets/img/studies/circle-3.svg' alt='')
                                .item-study__wrapper
                                    .item-study__number 200%
                                    .item-study__description Growth in sales
                            .item-study__block
                                //
                                  <div class="item-study__range">
                                  <img src="img/studies/circle-2.svg" alt="">
                                  </div>
                                .item-study__wrapper
                                    .item-study__number 1,400
                                    .item-study__description Target investors
        footer.studies__footer
            span.studies__info Explore more case studies
            a.studies__btn.btn(href='case-studies.html') View all case studies
