.page-intro
    img.page-intro__img(src="assets/img/case-studies/case-studies-bg.jpg" alt="")
    .page-intro__content
        .container
            .page-intro__breadcrumbs
                ul.breadcrumbs 
                    li
                        a(href="/") 
                            include ../icons/icon-home
                    li
                        span Case Studies
            h1.page-intro__title Case Studies
            .page-intro__text We help our clients get better results with our creative and data-driven approach to online advertising. View our case study portfolio and learn more about the process that sets us apart.
            +intro-form('Email', 'Your working email', 'Subscribe')