//- TODO: pixel perfect
.filter 
    .filter__header 
        button.filter__btn.active(data-target="") All case studies
        button.filter__btn(data-target="social-media") Social Media
        button.filter__btn(data-target="seo") Seo
        button.filter__btn(data-target="research") Research
        button.filter__btn(data-target="content-pr") Content & PR
        button.filter__btn(data-target="payed-traffic") Payed Traffic
    .filter__wrap
        .filter__item(data-filter="social-media")
            .item-filter
                .item-filter__picture
                    img.item-filter__img(src="assets/img/case-studies/filter/filter-1.jpg" alt="")
                    .item-filter__info
                        img.item-filter__logo(src="assets/img/case-studies/filter/filter-logo-1.png" alt="")
                        .item-filter__label Charity organisation
                .item-filter__content 
                    .ranges
                        .ranges__wrap
                            +range("75 100", "90%", "Engagement", "#F89828" )
                            +range("100 100", "100%", "Deliverability", "#03CEA4" )
                    .item-filter__text.text Createx SEO Agency helped JNational Inc. increase their MQL to SQL conversion rate by 300%.
                    +link("single-case-studies.html", "View case")
        .filter__item(data-filter="seo")
            .item-filter
                .item-filter__picture
                    img.item-filter__img(src="assets/img/case-studies/filter/filter-2.jpg" alt="")
                    .item-filter__info
                        img.item-filter__logo(src="assets/img/case-studies/filter/filter-logo-2.png" alt="")
                        .item-filter__label Oil and natural resources
                .item-filter__content
                    .ranges
                        .ranges__wrap
                            +range("100 100", "200%", "Growth in sales", "#5A87FC" )
                            +range("80 100", "1400", "Target investors")
                    .item-filter__text.text With an advanced A/B testing and usability analysis, Createx SEO Agency helps Del Mar see a 400% increase in conversion rate.
                    +link("single-case-studies.html", "View case")
        .filter__item(data-filter="research")
            .item-filter
                .item-filter__picture
                    img.item-filter__img(src="assets/img/case-studies/filter/filter-3.jpg" alt="")
                    .item-filter__info
                        img.item-filter__logo(src="assets/img/case-studies/filter/filter-logo-3.png" alt="")
                        .item-filter__label Electric company
                .item-filter__content
                    .ranges
                        .ranges__wrap
                            +range("80 100", "80%", "Open Rate", "#FF4242" )
                            +range("80 100", "1,840", "Target investors")
                    .item-filter__text.text With an advanced A/B testing and usability analysis, Createx SEO Agency helps Lovato see a 200% increase in conversion rate.
                    +link("single-case-studies.html", "View case")
        .filter__item(data-filter="content-pr")
            .item-filter
                .item-filter__picture
                    img.item-filter__img(src="assets/img/case-studies/filter/filter-4.jpg" alt="")
                    .item-filter__info
                        img.item-filter__logo(src="assets/img/case-studies/filter/filter-logo-4.png" alt="")
                        .item-filter__label Personal care
                .item-filter__content
                    .ranges
                        .ranges__wrap
                            +range("80 100", "70%", "Open Rate", "#F52F6E" )
                            +range("100 100", "200%", "Growth in sales", "#F89828" )
                    .item-filter__text.text We helped Sunset company break through a noisy industry and better understand their buyer's journey. 
                    +link("single-case-studies.html", "View case")
        .filter__item(data-filter="payed-traffic")
            .item-filter
                .item-filter__picture
                    img.item-filter__img(src="assets/img/case-studies/filter/filter-5.jpg" alt="")
                    .item-filter__info
                        img.item-filter__logo(src="assets/img/case-studies/filter/filter-logo-5.png" alt="")
                        .item-filter__label Departments stores
                .item-filter__content
                    .ranges
                        .ranges__wrap
                            +range("70 100", "70%", "Increase in leads", "#5A87FC" )
                            +range("80 100", "190+", "Prospects")
                    .item-filter__text.text We helped Dove company break through a noisy industry and better understand their buyer's journey.
                    +link("single-case-studies.html", "View case")
        .filter__item(data-filter="social-media")
            .item-filter
                .item-filter__picture
                    img.item-filter__img(src="assets/img/case-studies/filter/filter-6.jpg" alt="")
                    .item-filter__info
                        img.item-filter__logo(src="assets/img/case-studies/filter/filter-logo-6.png" alt="")
                        .item-filter__label Electric cars, solar & clean energy
                .item-filter__content
                    .ranges
                        .ranges__wrap
                            +range("50 100", "300%", "first mixin", "blue" )
                            +range("80 100", "100%", "second mixin", "red" )
                    .item-filter__text.text We helped Dove company break through a noisy industry and better understand their buyer's journey.
                    +link("single-case-studies.html", "View case")
    .filter__more 
        include ../icons/icon-more
        span Load more