section.ask-careers
    .accordion
        .accordion__item.active
            .accordion__wrap
                .accordion__content
                    h3.accordion__title
                        span Digital Marketing Strategist
                        a(href="#").btn.btn--border Apply now
                    .accordion__text 
                        p Blandit quam eget fames nisl. Vel vestibulum dictum morbi risus. Mauris dictumst vitae convallis aliquam ullamcorper. Quis non non ac massa augue id scelerisque. Egestas eget cursus egestas habitant orci. In posuere tempus, vulputate est, diam arcu.
                        h3.accordion__subtitle Requirements: 
                        ul.accordion__list
                            li Vitae luctus et arcu vitae eu tellus orci.
                            li Vel morbi nunc ullamcorper nisl, quis varius ultricies blandit.
                            li Purus cursus nascetur leo diam.
                            li Nascetur id turpis facilisis faucibus vel, iaculis etiam.
                        h3.accordion__subtitle Responsibilities:
                        ul.accordion__list
                            li Dui, lectus at dui magna vitae vitae egestas sed.
                            li Vulputate placerat amet pulvinar lorem nisl.
                            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                            li Etiam duis lobortis in fames ultrices commodo nibh.
                
        .accordion__item
            .accordion__wrap
                .accordion__content
                    h3.accordion__title
                        span Sales Executive
                        a(href="#").btn.btn--border Apply now
                    .accordion__text 
                        p Blandit quam eget fames nisl. Vel vestibulum dictum morbi risus. Mauris dictumst vitae convallis aliquam ullamcorper. Quis non non ac massa augue id scelerisque. Egestas eget cursus egestas habitant orci. In posuere tempus, vulputate est, diam arcu.
                        h3.accordion__subtitle Requirements: 
                        ul.accordion__list
                            li Vitae luctus et arcu vitae eu tellus orci.
                            li Vel morbi nunc ullamcorper nisl, quis varius ultricies blandit.
                            li Purus cursus nascetur leo diam.
                            li Nascetur id turpis facilisis faucibus vel, iaculis etiam.
                        h3.accordion__subtitle Responsibilities:
                        ul.accordion__list
                            li Dui, lectus at dui magna vitae vitae egestas sed.
                            li Vulputate placerat amet pulvinar lorem nisl.
                            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                            li Etiam duis lobortis in fames ultrices commodo nibh.
                
        .accordion__item
            .accordion__wrap
                .accordion__content
                    h3.accordion__title
                        span Social Media Content Manager
                        a(href="#").btn.btn--border Apply now
                    .accordion__text 
                        p Blandit quam eget fames nisl. Vel vestibulum dictum morbi risus. Mauris dictumst vitae convallis aliquam ullamcorper. Quis non non ac massa augue id scelerisque. Egestas eget cursus egestas habitant orci. In posuere tempus, vulputate est, diam arcu.
                        h3.accordion__subtitle Requirements: 
                        ul.accordion__list
                            li Vitae luctus et arcu vitae eu tellus orci.
                            li Vel morbi nunc ullamcorper nisl, quis varius ultricies blandit.
                            li Purus cursus nascetur leo diam.
                            li Nascetur id turpis facilisis faucibus vel, iaculis etiam.
                        h3.accordion__subtitle Responsibilities:
                        ul.accordion__list
                            li Dui, lectus at dui magna vitae vitae egestas sed.
                            li Vulputate placerat amet pulvinar lorem nisl.
                            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                            li Etiam duis lobortis in fames ultrices commodo nibh.
        .accordion__item
            .accordion__wrap
                .accordion__content
                    h3.accordion__title
                        span  Digital Marketing Account Manager
                        a(href="#").btn.btn--border Apply now
                    .accordion__text 
                        p Blandit quam eget fames nisl. Vel vestibulum dictum morbi risus. Mauris dictumst vitae convallis aliquam ullamcorper. Quis non non ac massa augue id scelerisque. Egestas eget cursus egestas habitant orci. In posuere tempus, vulputate est, diam arcu.
                        h3.accordion__subtitle Requirements: 
                        ul.accordion__list
                            li Vitae luctus et arcu vitae eu tellus orci.
                            li Vel morbi nunc ullamcorper nisl, quis varius ultricies blandit.
                            li Purus cursus nascetur leo diam.
                            li Nascetur id turpis facilisis faucibus vel, iaculis etiam.
                        h3.accordion__subtitle Responsibilities:
                        ul.accordion__list
                            li Dui, lectus at dui magna vitae vitae egestas sed.
                            li Vulputate placerat amet pulvinar lorem nisl.
                            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                            li Etiam duis lobortis in fames ultrices commodo nibh.
        .accordion__item
            .accordion__wrap
                .accordion__content
                    h3.accordion__title
                        span SEO Strategist
                        a(href="#").btn.btn--border Apply now
                    .accordion__text 
                        p Blandit quam eget fames nisl. Vel vestibulum dictum morbi risus. Mauris dictumst vitae convallis aliquam ullamcorper. Quis non non ac massa augue id scelerisque. Egestas eget cursus egestas habitant orci. In posuere tempus, vulputate est, diam arcu.
                        h3.accordion__subtitle Requirements: 
                        ul.accordion__list
                            li Vitae luctus et arcu vitae eu tellus orci.
                            li Vel morbi nunc ullamcorper nisl, quis varius ultricies blandit.
                            li Purus cursus nascetur leo diam.
                            li Nascetur id turpis facilisis faucibus vel, iaculis etiam.
                        h3.accordion__subtitle Responsibilities:
                        ul.accordion__list
                            li Dui, lectus at dui magna vitae vitae egestas sed.
                            li Vulputate placerat amet pulvinar lorem nisl.
                            li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                            li Etiam duis lobortis in fames ultrices commodo nibh.