section.ask
    .accordion
        .accordion__item.active
            .accordion__wrap
                .accordion__content
                    h3.accordion__title Aliquet lectus urna viverra in odio?
                    .accordion__text Blandit quam eget fames nisl. Vel vestibulum dictum morbi risus. Mauris dictumst vitae convallis aliquam ullamcorper. Quis non non ac massa augue id scelerisque. Egestas eget cursus egestas habitant orci. In posuere tempus, vulputate est, diam arcu.
                    .accordion__subtitle Requirements: 
                    ul.accordion__list
                        li Vitae luctus et arcu vitae eu tellus orci.
                        li Vel morbi nunc ullamcorper nisl, quis varius ultricies blandit.
                        li Purus cursus nascetur leo diam.
                        li Nascetur id turpis facilisis faucibus vel, iaculis etiam.
                    .accordion__subtitle Responsibilities:
                    ul.accordion__list
                        li Dui, lectus at dui magna vitae vitae egestas sed.
                        li Vulputate placerat amet pulvinar lorem nisl.
                        li Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                        li Etiam duis lobortis in fames ultrices commodo nibh.
                a(href="#").btn.btn--border Apply now
                
        .accordion__item
            .accordion__title Orci commodo, viverra orci mollis ut euismod?
            .accordion__text
                | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
        .accordion__item
            .accordion__title Sagittis vitae facilisi rutrum amet mauris quisque vel convallis?
            .accordion__text
                | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
        .accordion__item
            .accordion__title In id dolor quis nunc, urna hendrerit pharetra?
            .accordion__text
                | Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum
                | faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
