.advantages 
    .advantages__item.item-advantages
        .item-advantages__wrap
            .item-advantages__content
                h2.item-advantages__title Social Media Marketing
                .item-advantages__text Eleifend orci massa et facilisis orci feugiat ac. Congue in ut lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium. 
                footer.item-advantages__footer
                    a.btn.btn--border.btn--small(href="#") Learn more
                    a.btn.btn--small(href="#") Try SEO toolkit
            .item-advantages__img
                img(src="assets/img/our-services/advantages/advantages-1.jpg", alt="")
    .advantages__item.item-advantages
        .item-advantages__wrap
            .item-advantages__content
                h2.item-advantages__title Search Engine Optimization
                .item-advantages__text Elementum ipsum lorem tortor morbi quis turpis pellentesque ultrices aenean. Lacus sit viverra et egestas nisl vitae lacus, eget. Eu pulvinar duis in posuere non adipiscing. Nunc, tristique viverra tincidunt nec proin tempus egestas massa. Quis velit nunc nisl sem in tristique.
                footer.item-advantages__footer
                    a.btn.btn--border.btn--small(href="#") Learn more
                    a.btn.btn--small(href="#") Try SEO toolkit
            .item-advantages__img
                img(src="assets/img/our-services/advantages/advantages-2.jpg", alt="")
    .advantages__item.item-advantages
        .item-advantages__wrap
            .item-advantages__content
                h2.item-advantages__title Research Service
                .item-advantages__text Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget. 
                footer.item-advantages__footer
                    a.btn.btn--border.btn--small(href="#") Learn more
                    a.btn.btn--small(href="#") Try SEO toolkit
            .item-advantages__img
                img(src="assets/img/our-services/advantages/advantages-3.jpg", alt="")
    .advantages__item.item-advantages
        .item-advantages__wrap
            .item-advantages__content
                h2.item-advantages__title Content & PR Service
                .item-advantages__text Consequat pharetra elit posuere fringilla luctus sit. Curabitur accumsan fermentum magna amet. Sed nec amet posuere tellus pellentesque vitae. Pulvinar nulla sem risus diam volutpat. Amet, sit aliquet magna in viverra at elit nullam.
                footer.item-advantages__footer
                    a.btn.btn--border.btn--small(href="#") Learn more
                    a.btn.btn--small(href="#") Try SEO toolkit
            .item-advantages__img
                img(src="assets/img/our-services/advantages/advantages-4.jpg", alt="")
    .advantages__item .item-advantages
        .item-advantages__wrap
            .item-advantages__content
                h2.item-advantages__title Payed Traffic Management
                .item-advantages__text Tortor vitae orci hendrerit lobortis eu. Metus aliquam sem tellus ut fringilla purus nisl, consectetur netus. Velit ac feugiat ut mattis dis nullam ultrices amet. Lacus eu neque arcu arcu curabitur at sapien. Id sed aliquet id sit nibh ornare massa scelerisque.
                footer.item-advantages__footer
                    a.btn.btn--border.btn--small(href="#") Learn more
                    a.btn.btn--small(href="#") Try SEO toolkit
            .item-advantages__img
                img(src="assets/img/our-services/advantages/advantages-5.jpg", alt="")
