.markets 
    h2.markets__title.title Markets in which we operate
    .markets__wrap
        .markets__item
            .markets__img 
                include ../icons/markets-1
            h3.markets__subtitle E-commerce Websites
            .markets__text Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris. 
        .markets__item
            .markets__img 
                include ../icons/markets-2
            h3.markets__subtitle Content-rich Websites
            .markets__text Culpa nostrud commodo ea consequat reprehenderit aliquip. 
        .markets__item
            .markets__img 
                include ../icons/markets-3
            h3.markets__subtitle B2B /B2C Services
            .markets__text Viverra scelerisque consequat net. Adipisicing esse consequat. 
        .markets__item
            .markets__img 
                include ../icons/markets-4
            h3.markets__subtitle Startup Projects
            .markets__text Aute eiusmod dolore dolore deserunt veniam ad deserunt. 