.page-intro
    img.page-intro__img(src="assets/img/our-services/page-intro/our-services-intro.jpg", alt="")
    .page-intro__content
        .container
            .page-intro__breadcrumbs
                ul.breadcrumbs 
                    li
                        a(href="/") 
                            include ../icons/icon-home
                    li
                        span Services
            h1.page-intro__title Our services
            .page-intro__text We offer more than services. Our agency provides solutions to your top-priority concerns, involving customer targeting, email performance and sales growth. If there is no existing solution readily available, we create one, specifically to suit your business.
            footer.page-intro__footer
                a.btn(href="#") Start now
                +info('Call us', '(405) 555-0128', 'assets/img/icons/icon-phone.svg')
