.find {
    padding: 100px 0 180px;
    background: white;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        flex: 0 0 496px;
    }
    &__form {
        flex: 0 0 600px;
    }

    &__title {
        margin-bottom: 40px;
        line-height: 1.3;
    }

    &__text {
        font-size: 20px;
        line-height: 1.5;
        color: var(--text-light);
    }
}