.case-info 
    h3.case-info__subtitle.subtitle Strategies
    .case-info__list
        +list(
            "Gravida elit et libero, varius congue risus quisque enim.",
            "Sit quis vitae, gravida aliquam condimentum.",
            "Praesent et facilisis nam mus senectus massa dignissim.",
            "Fermentum diam elementum viverra proin."
        )
    p.text Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus. Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus convallis eget netus vitae. 
    img(src="assets/img/single-case-studies/case-info/case-info.jpg" alt="")
    h3.case-info__subtitle.subtitle Resieved goals
    .case-info__list
        +list(
            "Bibendum malesuada mauris, id nisl enim diam.",
            "Nam id in non sed cras purus nunc et.",
            "Neque tortor, pellentesque amet est, eu accumsan condimentum nulla.",
            "Mauris orci, cursus nisl odio est adipiscing gravida magna eget.",
            "Sit turpis sit ultrices viverra adipiscing malesuada."
        )
    h3.case-info__subtitle.subtitle Results
    .case-info__list
        +list(
            "Mauris dignissim blandit cursus imperdiet accumsan lorem vel, tortor.",
            "Quis mauris vel felis convallis nulla dignissim.",
            "Cursus sit platea ac posuere non interdum in.",
            "Mattis pellentesque vel, venenatis, urna, quis ut."
        )