.case-aside 
    h3.case-aside__title About the client
    .case-aside__text At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque, fermentum.
    h3.case-aside__title Industry
    .case-aside__text Electric company - B2B
    h3.case-aside__title Services rendered
    +list(
        "Remarketing",
        "Conversion Rate Optimization",
        "User Testing",
        "PPC Management",
        "Usability Testing"
    )
