.case-share
    h3.case-share__title Share:
    ul.case-share__list 
        li
            a(href="#")
                include ../icons/icon-fb
        li
            a(href="#")
                include ../icons/icon-tw
        li
            a(href="#")
                include ../icons/icon-ln