.case-rangers 
    .ranges
        .ranges__wrap
            +range("75 100", "70%", "Open Rate", "#F52F6E" )
            +range("100 100", "200%", "Growth in sales", "#F89828" )
            +range("75 100", "8,000", "DAU")