.page-intro
    img.page-intro__img(src="assets/img/single-case-studies/single-case-studies-intro/single-case-studies-bg.jpg" alt="")
    .page-intro__content
        .container
            .page-intro__breadcrumbs
                ul.breadcrumbs 
                    li
                        a(href="/") 
                            include ../icons/icon-home
                    li
                        a(href="case-studies.html") Case Studies
                    li
                        span Single Case Studies
            .page-intro__logo 
                img(src="assets/img/single-case-studies/single-case-studies-intro/logo-intro.png" alt="")
            h1.page-intro__title 200% increase in conversion rate for Lovato Compan