.slider-blog {
  margin-bottom: 184px;

  &__title {
    margin-bottom: 8px;
  }

  &__header {
    position: relative;
    bottom: 45px;
    left: 23px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 2px;
  }

  .slick-list {
    margin: 0 -15px;
  }

  .slick-slide {
    margin: 0 15px;
    width: 390px;
  }

  &__arrow {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: var(--accent);

      svg {
        fill: white;
      }
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 12px;
      margin-top: -6px;
      margin-left: -9px;
      fill: var(--text-light);
    }
  }

  &__wrap {
    margin-bottom: 180px;
    display: flex;
    gap: 30px;
  }

  &__item {
    flex: 0 0 390px;
  }

  .post {
    &__img {
      height: 300px;
    }

    &__title {
      margin-bottom: 7px;
    }
  }
}