.slider-blog {
  margin-bottom: 18.40rem;
  @media screen and (max-width: 992px) {
    margin-bottom: 6rem;
  }
  &__title {
    margin-bottom: 0.80rem;
  }
  &__header {
    position: relative;
    bottom: 4.50rem;
    left: 2.30rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1.00rem;
    margin-bottom: 0.20rem;
  }
  .slick-list {
    margin: 0 -1.50rem;
  }
  .slick-slide {
    margin: 0 1.50rem;
    width: 39.00rem;
  }
  &__arrow {
    position: relative;
    width: 4.80rem;
    height: 4.80rem;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background: var(--accent);
      svg {
        fill: white;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.80rem;
      height: 1.20rem;
      margin-top: -0.60rem;
      margin-left: -0.90rem;
      fill: var(--text-light);
    }
  }
  &__wrap {
    margin-bottom: 18.00rem;
    display: flex;
    gap: 3.00rem;
  }
  &__item {
    flex: 0 0 39.00rem;
  }
  .post {
    &__img {
      height: 30.00rem;
    }
    &__title {
      margin-bottom: 0.70rem;
    }
  }
}