.subscribe-dark {
    margin-bottom: 120px;
    padding: 80px 0 39px;
    background: var(--text-dark);

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        flex: 0 0 495px;
    }

    &__img {
        position: relative;
        top: -27px;
        right: 0;
    }

    .intro-form {
        &__input {
            flex: 2;
            outline: none;
        }

        &__btn {
            flex: 1;
        }
    }

    &__title {
        margin-bottom: 40px;
        color: white;
    }

    &__text {
        margin-bottom: 35px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        color: white;
    }

    .intro-form {
        &__label {
            margin-bottom: 11px;
        }
    }

    &__form {
        margin-bottom: 32px;

    }

    .form__privacy label {
        padding-right: 0;
        font-size: 16px;
        color: white;

        &::before {
            top: 6px;
        }

        &::after {
            top: 10px;
        }
    }

}