.author
    h2.author__title.title.title--small Author
    .author__wrap
        .author__img 
            img(src="assets/img/single-blog/author/author.jpg", alt="")
        .author__content
            h3.author__subtitle Diane Mccoy
            .author__text Lead Digital PR Strategist
            ul.author__socials
                li
                    a(href="#") 
                        include ../icons/icon-tw
                li
                    a(href="#") 
                        include ../icons/icon-fb
                li
                    a(href="#") 
                        include ../icons/icon-ln