.published 
    .published__wrap
        .published__item
            .published__label Published
            .published__content
                include ../icons/icon-calendar
                .published__text July 5, 2020
        .published__item
            .published__label Reading time
            .published__content
                include ../icons/icon-clock
                .published__text 4 min
        .published__item
            .published__label Share
            .published__social
                include ../single-case-studies/case-share