.page-intro
    img.page-intro__img(src="assets/img/single-blog/single-blog-intro/single-blog-intro.jpg" alt="")
    .page-intro__content
        .container
            .page-intro__breadcrumbs
                ul.breadcrumbs 
                    li
                        a(href="/") 
                            include ../icons/icon-home
                    li
                        a(href="/blog.html") Blog
                    liBlog
                        span HBlogow to Increase Your ROI Through Scientific SEM?
            h1.page-intro__title How to Maximize Your ROI Through Scientific SEM?