.subscribe-dark
    .container
        .subscribe-dark__wrap
            .subscribe-dark__content
                h2.subscribe-dark__title.title Subsribe to our blog
                .subscribe-dark__text And receive latest trends in search, marketing, digital and news.
                .subscribe-dark__form
                    +intro-form("Email", "Your working email", "Subscribe")
                .form
                    .form__privacy
                        input#checkbox.form__checkbox(type='checkbox')
                        label(for='checkbox') I agree to receive communications from Createx SEO Agency
            .subscribe-dark__img
                img(src="assets/img/single-blog/subscribe-dark/subscribe-dark.svg", alt="")