.tags-share 
    .tags-share__item
        .tags-share__wrap
            span Tags:
            +category_list("#business", "#PPC", "#targeting")
    .tags-share__item
        include ../single-case-studies/case-share