.awards {
  margin-bottom: 11.40rem;
  @media screen and (max-width: 992px) {
    margin-bottom: 6rem;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__img {
    flex: 0 0 28.50rem;
  }
  &__content {
    flex: 1;
    padding-top: 8.50rem;
    padding-left: 13.50rem;
    @media screen and (max-width: 1200px) {
      padding-left: 6rem;
    }
    @media screen and (max-width: 992px) {
      padding-left: 0;
    }
  }
  &__title {
    margin-bottom: 6.00rem;
  }
}