.career {
  margin-bottom: 18.00rem;
  &__wrap {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }
  }
  &__img {
    flex: 0 0 45.00rem;
    @media screen and (max-width: 992px) {
      flex: 0 0 100%;
    }
    svg {
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }
  &__content {
    padding-top: 6.20rem;
    flex: 0 0 60.40rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 6.4rem;
      flex: 0 0 100%;
    }
    @media screen and (max-width: 400px) {
      margin-bottom: 0;
    }
  }
  &__title {
    margin-bottom: 4.00rem;
  }
  &__text {
    margin-bottom: 6.00rem;
    font-size: 2.00rem;
    line-height: 1.5;
  }
  .btn {
    svg {
      position: relative;
      top: 0.30rem;
      right: -0.60rem;
    }
  }
}