.clients {
    margin-bottom: 17.40rem;
    @media screen and (max-width: 992px) {
        margin-bottom: 6rem;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3.70rem;
    }
    &__item {
        flex: 0 0 14.50rem;
    }
    &__title {
        margin-bottom: 5.90rem;
        text-align: center;
    }
}