.core {
    margin-bottom: 180px;

    &__wrap {
        display: flex;
        gap: 80px;
    }

    &__title {
        flex: 0 0 340px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 80px;
    }

    &__item {
        flex: 0 0 340px;
    }

    &__img {
        margin-bottom: 28px;
        height: 48px;
    }

    &__subtitle {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        color: var(--text-dark);
    }
}