.seo-agency {
  &__wrap {
    display: flex;
    gap: 3.00rem;
    @media screen and (max-width: 576px) {
      margin: 0 -1.5rem;
      flex-wrap: wrap;
      gap: 0;
    }
  }
  &__column {
    @media screen and (max-width: 992px) {
      position: static !important;
    }
    @media screen and (max-width: 576px) {
      margin: 0 1.5rem 1.5rem;
      flex: 0 0 calc(50% - 3rem)!important;
    }
  }
  &__column1 {
    position: relative;
    top: 7.70rem;
    flex: 0 0 28.50rem;
    img {
      &:not(:last-of-type) {
        margin-bottom: 3.00rem;
      }
    }
  }
  &__column2 {
    flex: 0 0 39.00rem;
  }
  &__column3 {
    position: relative;
    top: 17.70rem;
    flex: 0 0 49.50rem;
    @media screen and (max-width: 576px) {
      flex: 0 0 calc(100% - 3rem) !important;
    }
  }
  &__footer {
    position: relative;
    margin: -10.60rem auto 12.00rem;
    padding: 4.80rem 6.00rem;
    max-width: 807px;
    background: white;
    z-index: 2;
    box-shadow: 0.00rem 0.40rem 0.40rem -0.40rem rgba(30, 33, 44, 0.03), 0.00rem 1.20rem 10.00rem -0.60rem rgba(154, 156, 165, 0.04), 0.00rem 30.00rem 20.40rem -10.00rem rgba(154, 156, 165, 0.05), 0.00rem 80.00rem 80.00rem -20.00rem rgba(154, 156, 165, 0.08);
    border-radius: 0.40rem;
    @media screen and (max-width: 992px) {
      margin: 0 auto 8rem;
    }
    @media screen and (max-width: 576px) {
      padding: 3.20rem 0;
    }
  }
  &__subtitle {
    margin-bottom: 2.40rem;
  }
}