.ensure 
    .ensure__wrap 
        .ensure__img 
            img(src="assets/img/search-engine-optimization/ensure/ensure.jpg" alt="")
        .ensure__content 
            h2.ensure__title.title We go above and beyond to ensure successful SEO
            .ensure__text.text Lacus ac mollis vitae viverra. Tincidunt est, feugiat montes, viverra ullamcorper mi dui, nulla pharetra. Sapien urna nullam elit diam mauris orci. Volutpat quam tempus justo, aliquam. Tortor ultrices mattis eget orci eu nisi sed augue odio. Et senectus risus, pharetra, tristique libero. Dolor risus ac quam dictum mattis ultrices laoreet sapien. Feugiat lacus, suscipit eu sociis et quis hendrerit. Cras at ac magna ultricies orci.