section.get-free 
    h2.get-free__title Get a Free SEO Analysis!
    .get-free__form
        form.form(action="") 
            .form__wrap
                .form__group
                    .form__label Name
                    input(class="form__name" type="text" placeholder="Your name")
                .form__group
                    .form__label Email
                    input(class="form__email" type="email" placeholder="Your working email")
                .form__group
                    .form__label Your website URL
                    input(class="form__url" type="text" placeholder="http://yoursite.com")
                btn.form__btn.btn Analyse your site