section.get-free 
    h2.get-free__title Get a Free SEO Analysis!
    .get-free__form
        form.seo-form(action="") 
            .seo-form__wrap
                .seo-form__group
                    .seo-form__label Name
                    input(type="text" placeholder="Your name")
                .seo-form__group
                    .seo-form__label Email
                    input(type="email" placeholder="Your working email")
                .seo-form__group
                    .seo-form__label Your website URL
                    input(type="text" placeholder="http://yoursite.com")
                btn.seo-form__btn.btn Analyse your site