.page-intro
    img.page-intro__img(src="assets/img/search-engine-optimization/page-intro/page-intro-search-engine-optimization.jpg" alt="")
    .page-intro__content
        .container
            .page-intro__breadcrumbs
                ul.breadcrumbs 
                    li
                        a(href="/") 
                            include ../icons/icon-home
                    li
                        a(href="/our-services.html") Services
                    li
                        span Search Engine Optimization 
            h1.page-intro__title Search Engine Optimization
            .page-intro__text Ipsum blandit etiam nunc vitae. Duis lobortis odio vel morbi dui pellentesque enim integer facilisi. Ultrices vitae tempor amet nec euismod non. 
            +intro-form('Your website URL', 'http://yoursite.com', 'Analyse your site')