section.strategy 
    h2.strategy__title.title SEO services include
    .strategy__wrap 
        .strategy__item
            .strategy__img
                include ../icons/strategy-1
            .strategy__subtitle SEO Strategy
            .strategy__text.text.text Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        .strategy__item
            .strategy__img
                include ../icons/strategy-2
            .strategy__subtitle Competitor Analysis
            .strategy__text.text Nulla id egestas accumsan consequat tincidunt. Urna nisi, nec sed massa pharetra duis ut porttitor.
        .strategy__item
            .strategy__img
                include ../icons/strategy-3
            .strategy__subtitle Technical Audit
            .strategy__text.text Congue viverra in quis urna lectus proin massa. Aliquam, justo nisl sed diam nibh vehicula.
        .strategy__item
            .strategy__img
                include ../icons/strategy-4
            .strategy__subtitle Content Strategy
            .strategy__text.text Posuere sed quam etiam semper id id euismod. Feugiat cras donec elementum interdum in.
        .strategy__item
            .strategy__img
                include ../icons/strategy-5
            .strategy__subtitle Media Promotion
            .strategy__text.text Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.
        .strategy__item
            .strategy__img
                include ../icons/strategy-6
            .strategy__subtitle SEO Reports
            .strategy__text.text Congue phasellus est, amet sem bibendum sollicitudin arcu scelerisque senectus. Mauris, mus tincidunt a, nisi.