.tree
    h2.tree__title.title That’s how it works
    .tree__body 
        .tree__row
            .tree__column
            .tree__column
                .tree__label Step 1
                .tree__subtitle Off-Site SEO Analysis 
                .tree__text.text Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa neque.
        .tree__row
            .tree__column
            .tree__column
                .tree__label Step 2
                .tree__subtitle Technical SEO Optimizations 
                .tree__text.text Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin egestas laoreet etiam. Nunc nisl orci auctor et fames. Vestibulum viverra faucibus faucibus et convallis.
        .tree__row
            .tree__column
            .tree__column
                .tree__label Step 3
                .tree__subtitle Usability Check 
                .tree__text.text Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat egestas facilisi lobortis. Varius praesent pretium in leo, accumsan, in ultricies. 
        .tree__row
            .tree__column
            .tree__column
                .tree__label Step 4
                .tree__subtitle Content Marketing 
                .tree__text.text Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor. Faucibus in leo, nulla odio nulla imperdiet quis faucibus neque.
