.blog-categories
    h2.blog-categories__title.title.title--small Blog Categories
    ul.blog-categories__list
        li
            span.blog-categories__subtitle All
            span.blog-categories__count 25
        li
            span.blog-categories__subtitle Media & Press
            span.blog-categories__count 3
        li
            span.blog-categories__subtitle Ad Tips
            span.blog-categories__count 7
        li.active
            span.blog-categories__subtitle Marketing
            span.blog-categories__count 4
        li
            span.blog-categories__subtitle Marketing
            span.blog-categories__count 7
        li
            span.blog-categories__subtitle Paid Search
            span.blog-categories__count 2

