.case-aside {
    margin-bottom: 48px;
    padding: 40px 32px;
    border-radius: 4px;
    background: var(--gray-200, #F4F5F6);
    &__title {
        margin-bottom: 12px;
        font-size: 24px;
        color: var(--text-dark);
    }
    &__text {
        margin-bottom: 24px;
        line-height: 1.5;
        color: var(--text-light);
    }
}