.case-info {
  // margin-bottom: 24px;  
  margin-bottom: 150px;

  &__subtitle {
    margin-bottom: 24px;
  }

  &__list {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 80px;
  }

  img {
    margin-bottom: 80px;
  }
}