.case-description {
    font-family: var(--font-1);
    p {
        margin-bottom: 24px;
        color: var(--text-light);
        &:last-of-type {
            margin-bottom: 80px;
        }
    }
    strong {
        font-size: 20px;
        line-height: 1.5;
        color: var(--gray-900, #1E212C);
    }
}