.category-list {
    display: flex;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        height: 32px;
        font-size: 14px;
        font-weight: 700;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid var(--gray-400, #D7DADD);
        transition: all .4s;

        &:hover {
            color: white;
            background: var(--accent);
        }
    }
}