.post {
    &__img {
        position: relative;
        height: 360px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }

    &__label {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8px;
        height: 30px;
        font-size: 18px;
        font-weight: 700;
        color: white;
        border-radius: 4px;
        background: var(--success, #03CEA4);
        z-index: 2;
    }

    &__content {
        padding-top: 16px;
    }

    &__list {
        display: flex;
        margin-bottom: 13px; 

        li {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 12px;
            font-size: 14px;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                width: 1px;
                height: 12px;
                background: var(--text-color);
            }
            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
            img {
                margin-right: 12px;
            }
        }
    }
    &__title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 1.5;
        color: var(--text-dark);
    }
    &__text {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.6;
        color: var(--text-light);
    }
}