.post {
  &__img {
    position: relative;
    padding-bottom: 60%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
  &__label {
    position: absolute;
    top: 0.80rem;
    right: 0.80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.80rem;
    height: 3.00rem;
    font-size: 1.80rem;
    font-weight: 700;
    color: white;
    border-radius: 0.40rem;
    background: var(--success, #03CEA4);
    z-index: 2;
  }
  &__content {
    padding-top: 1.60rem;
  }
  &__list {
    display: flex;
    margin-bottom: 1.30rem;
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 1.20rem;
      font-size: 1.40rem;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 1.20rem;
        background: var(--text-color);
      }
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
      img {
        margin-right: 1.20rem;
      }
    }
  }
  &__title {
    margin-bottom: 1.60rem;
    font-size: 2.00rem;
    line-height: 1.5;
    color: var(--text-dark);
  }
  &__text {
    margin-bottom: 1.60rem;
    font-size: 1.60rem;
    line-height: 1.6;
    color: var(--text-light);
  }
}