.info {
	display: flex;
	align-items: flex-start;
	text-align: left;

	&__icon {
		margin-right: 12px;
		flex: 0 0 40px;
	}

	&__content {
		// flex: 0 0 163px;
	}

	&__label {
		margin-bottom: 3px;
		font-size: 14px;
		font-weight: 700;
		color: var(--text-gray);
	}

	a,
	span {
		font-size: 18px;
		line-height: 1.6;
	}

	a {
		color: white;

		&.info--dark {
			color: var(--accent);
		}
	}
}